{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container h-100" id="loginContent">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">


                <h3 id="form-title">Bejelentkezés</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" placeholder="Felahsználónév" class="form-control">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                            <input type="password" name="password" placeholder="Jelszó" class="form-control" >
                    </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                             <input class="btn login_btn" type="submit" value="Bejelentkezés">
                           </div>
                </form>

            </div> 
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Nincs még fiókod? <a href="{% url 'register' %}" class="ml-2">Regisztráció</a>
                </div>
        
            </div>
        </div>
    </div>
</div>

{% for message in messages %}
<div style="display: block;" class="popup" id="popup">
    {% if message|striptags == 'Ha Póda Laci emlékszik arra, hogy 30 éve hogyan darált az AK-val, te is emlékezz a felhasználónév és jelszó kombinációdra' %}
    <img src="{% static 'images/x.png' %}" />
    {% else %}
    <img src="{% static 'images/tick.png' %}" />
    {% endif %}
    <h2></h2>
    <div class="message {{ message.tags }}">{{message}}</div>
    <br>
    {% if message|striptags != 'Üdv a béke szigetén' %}
        {% if message|striptags == 'Ha Póda Laci emlékszik arra, hogy 30 éve hogyan darált az AK-val, te is emlékezz a felhasználónév és jelszó kombinációdra' %}
        <button style="background: red;" id="popupClose">OK</button>
        {% else %}
        <button id="popupClose">OK</button>
        {% endif %}
    {% endif %}
</div>
{% endfor %}

{% if messages %}
<script>
    popup = document.getElementById('popup');
    content = document.getElementById('loginContent')

    content.style.opacity = '0.1'
    popup.style.display = 'block';

    setTimeout(loginAnimation, 10000);

    function loginAnimation() {
        document.getElementById('popup').style.animation = "closePopupAnimation 0.5s ease-in-out";
        document.getElementById('loginContent').style.animation = "opacityAnimation 0.5s ease.out";

        setTimeout(function() {
            document.getElementById('popup').style.animation = "";
            document.getElementById('loginContent').style.animation = "";
            document.getElementById('popup').style.display = "none";
            document.getElementById('loginContent').style.opacity = 1;
        }, 500);  
    }

    var popupClose = document.getElementById('popupClose')
    popupClose.addEventListener("click", function () {
        loginAnimation()
      });

</script>
{% endif %}

{% endblock content %}