{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<body className='snippet-body'>
    {% for message in messages %}
    <div style="display: block;" class="popup" id="popup">
    <img src="{% static 'images/tick.png' %}" />
    <div style="margin-top: 20px;" class="message {{ message.tags }}">{{message}}</div>
        <button id="popupClose">OK</button>
    </div>
    {% endfor %}



    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <form method=POST>
                    {% csrf_token %}
                    <div class="text-center">
                        {% if profile.imageURL %}
                        <img src="{{profile.imageURL}}" class="rounded-circle profile_img">
                        {% else %}
                        <img src="{% static 'images/placeholder_img.jpg' %}" class="rounded-circle profile_img">
                        {% endif %} 
                    </div>
                    <div class="text-center mt-3">
                        
                            {% if profile != self_profile %}
                            {% if profile in self_profile.follows.all %}
                            <div>
                                <span class="bg-success p-1 px-4 rounded text-white">Követed</span>
                                <button name="follow" value="unfollow;{{profile.id}}" type="submit" class="bx bx-user-minus unfollow_btn big_btn"></button>
                            </div>
                            {% else %}
                            <div>
                                <span class="bg-danger p-1 px-4 rounded text-white">Nem követed</span>
                                <button name="follow" value="follow;{{profile.id}}" type="submit" class="bx bx-user-plus follow_btn big_btn"></button>
                            </div>
                            {% endif %}   
                            {% endif %}
                            {% if profile == self_profile %}
                            <div>
                                <span id="updateProfileBtn" class="updateProfileBtn bg-warning p-1 px-4 rounded text-white ">Szerkesztés</span>
                            </div>
                            <div>
                                <span id="closeUpdateProfileBtn" class="hidden updateProfileBtn bg-warning p-1 px-4 rounded text-white ">Szerkesztés bezárása</span>
                            </div>
                            {% endif %}
                    <div id="profileData" class="profileData">
                        <h4 class="mt-2 mb-0"><strong>{{profile.name}}</strong></h4>
                        <div class="block" style="margin-bottom: 20px; font-weight: 500;">
                            {% if profile.email != None %}
                            <span class="span">{{profile.email}}</span>
                            {% endif %}
                            {% if profile.phone_number != None %}
                            <span class="span">{{profile.phone_number}}</span>
                            {% endif %}
                        </div>
                        <div class="block description">
                            {% if profile.description != None %}
                            <span class="span">{{profile.description}}</span>
                            {% endif %}
                        </div>
                    </div>
                    </form>

                    <form method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="updateProfileData" class="hidden">
                        <div class="image_edit">
                            <p style="margin-bottom: -5vh;"><strong>Profilkép csere:</strong></p><p class="edit">{{update_profile_form.image}}</p>
                        </div>
                        <h4 class="mt-2 mb-0"><strong>{{update_profile_form.name}}</strong></h4>
                        <div class="block" style="margin-bottom: 20px; font-weight: 500;">
                            <br>
                            <span class="span">{{update_profile_form.email}}</span><br>
                            <br>
                            <span class="span">{{update_profile_form.phone_number}}</span>
                        </div>
                        <div class="block description">
                            <br>
                            <span class="span">{{update_profile_form.description}}</span>
                            <hr>
                        </div>
                        <div>
                            <button type="submit" class="updateProfileBtn bg-warning p-1 px-4 rounded text-white">Mentés</button>
                        </div>
                    </div>
                    </form>

                        <div id="followers_following" class="sor">
                            <div class="div1">
                                <h5 class="mt-2 mb-0">{{profile.followers.all.count}}</h5>
                                <h5 class="mt-2 mb-0">Követők:</h5>
                                <div class="block">
                                    
                                    <form form id="follower1" method=POST>
                                        {% csrf_token %}
                                        
                                        {% for follower in profile.followers.all|slice:":3" %}
                                        
                                        <div style="margin-top: 15px;"><a class="follower_a" href=" {% url 'profile' follower.user.id %}">

                                            {% if follower.imageURL %}
                                            <img src="{{follower.imageURL}}" class="rounded-circle follower_img">
                                            {% else %}
                                            <img src="{% static 'images/placeholder_img.jpg' %}" class="rounded-circle follower_img">
                                            {% endif %} 

                                            <span class="span follower_a">{{follower}}</span></a>
    
                                            {% if follower != self_profile %}
                                                {% if follower in self_profile.follows.all %}
                                                <button name="follow" value="unfollow;{{follower.id}}" type="submit" class="bx bx-user-minus unfollow_btn"></button>
                                                {% else %}
                                                <button name="follow" value="follow;{{follower.id}}" type="submit" class="bx bx-user-plus follow_btn"></button>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        {% endfor %} 
                                    </form>

                                    <form id="follower2" class="hidden" method=POST>
                                        {% csrf_token %}
                                        
                                        {% for follower in profile.followers.all %}
                                        
                                        <div style="margin-top: 15px;"><a class="follower_a" href=" {% url 'profile' follower.user.id %}">
                                            {% if follower.imageURL %}
                                            <img src="{{follower.imageURL}}" class="rounded-circle follower_img">
                                            {% else %}
                                            <img src="{% static 'images/placeholder_img.jpg' %}" class="rounded-circle follower_img">
                                            {% endif %} 
                                            <span class="span follower_a">{{follower}}</span></a>
    
                                            {% if follower != self_profile %}
                                                {% if follower in self_profile.follows.all %}
                                                <button name="follow" value="unfollow;{{follower.id}}" type="submit" class="bx bx-user-minus unfollow_btn"></button>
                                                {% else %}
                                                <button name="follow" value="follow;{{follower.id}}" type="submit" class="bx bx-user-plus follow_btn"></button>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        {% endfor %} 
    
                                    </form>
                                    {% if profile.followers.all.count > 3 %}
                                    <div id="morefollower" style="margin-top: 15px;">
                                        <button type="button" type="button" id="morefollowerBtn" class="bx bxs-down-arrow"></button>
                                        <span class="span follower_a">Több követés</span>
                                    </div>
                                    <div class="hidden" id="lessfollower" style="margin-top: 15px;">
                                        <button type="button" id="lessfollowerBtn" class="bx bxs-up-arrow"></button>
                                        <span class="span follower_a">Kevesebb követés</span>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        
                            <div class="div2">
                                <h5 class="mt-2 mb-0">{{profile.follows.all.count}}</h5>
                                <h5 class="mt-2 mb-0">Követések:</h5>
                                <form id="following1" method=POST>
                                    {% csrf_token %}
                                    
                                    {% for following in profile.follows.all|slice:":3" %}
                                    
                                    
                                    <div style="margin-top: 15px;"><a class="follower_a" href=" {% url 'profile' following.user.id %}">

                                        {% if following.imageURL %}
                                        <img src="{{following.imageURL}}" class="rounded-circle follower_img">
                                        {% else %}
                                        <img src="{% static 'images/placeholder_img.jpg' %}" class="rounded-circle follower_img">
                                        {% endif %} 

                                        <span class="span follower_a">{{following}}</span></a>
                                        {% if following != self_profile %}
                                            {% if following in self_profile.follows.all %}
                                            <button name="follow" value="unfollow;{{following.id}}" type="submit" class="bx bx-user-minus unfollow_btn"></button>
                                            {% else %}
                                            <button name="follow" value="follow;{{following.id}}" type="submit" class="bx bx-user-plus follow_btn"></button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </form>      
                                <form class="hidden" id="following2" method=POST>
                                    {% csrf_token %}
                                    
                                    {% for following in profile.follows.all %}
                                    
                                    
                                    <div style="margin-top: 15px;"><a class="follower_a" href=" {% url 'profile' following.user.id %}">

                                        {% if following.imageURL %}
                                        <img src="{{following.imageURL}}" class="rounded-circle follower_img">
                                        {% else %}
                                        <img src="{% static 'images/placeholder_img.jpg' %}" class="rounded-circle follower_img">
                                        {% endif %} 

                                        <span class="span follower_a">{{following}}</span></a>
                                        {% if following != self_profile %}
                                            {% if following in self_profile.follows.all %}
                                            <button name="follow" value="unfollow;{{following.id}}" type="submit" class="bx bx-user-minus unfollow_btn"></button>
                                            {% else %}
                                            <button name="follow" value="follow;{{following.id}}" type="submit" class="bx bx-user-plus follow_btn"></button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </form>
                                {% if profile.follows.all.count > 3 %}
                                <div id="morefollowing" style="margin-top: 15px;">
                                    <button type="button" id="morefollowingBtn" class="bx bxs-down-arrow"></button>
                                    <span class="span follower_a">Több követés</span>
                                </div>
                                <div class="hidden" id="lessfollowing" style="margin-top: 15px;">
                                    <button type="button" id="lessfollowingBtn" class="bx bxs-up-arrow"></button>
                                    <span class="span follower_a">Kevesebb követés</span>
                                </div>
                                {% endif %}
                            </div>
                            
                            </div>
                        </div>
                    </div> 
                </div>  
            </div> 
        </div>
    </div>
    {% if profile == self_profile %}
    <div id="orders" class="container mt-5">
        {% if orders %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4"> 
                    <div class="text-center mt-3">
                        <h3 class="mt-2 mb-0"><strong>Rendeléseim</strong></h3>
                        {% for order in orders %}
                        {% if order.get_cart_total != 0 %}
                        <div class="sor">
                            <div class="div2">
                                <h4 style="text-decoration: underline;" class="mt-2 mb-0">{{order}}</h4> 
                                <h5 class="mt-2 mb-0">{{order.get_cart_total|intcomma}} Ft</h5> 
                                <br>
                                <div style="margin: auto;" class="radio-inputs">
                                    <label class="radio">
                                        {% if order.status == 'confirmed' %}
                                        <span style="cursor: default;" class="name">Visszaigazolva</span>
                                        {% endif %}
                                        {% if order.status == 'processing' %}
                                        <span style="cursor: default;" class="name">Feldolgozás alatt</span>
                                        {% endif %}
                                        {% if order.status == 'shipped' %}
                                        <span style="cursor: default;" class="name">Szállítás alatt</span>
                                        {% endif %}
                                        {% if order.status == 'completed' %}
                                        <span style="cursor: default;" class="name">Teljesítve</span>
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="div1">
                            {% for order_item in order_items %}
                                {% if order.id == order_item.order_id %} 
                                    {% for product in products %}
                                        {% if product.id == order_item.product_id %}
                                            <img class="orderphoto" src="{{product.imageURL}}" class="rounded-circle">
                                            <h6 class="fonts">{{order_item.quantity}} db - {{order_item.product}}</h6>
                                            <h6 class="fonts">{{product.price|intcomma}} Ft</h6>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    
    <div id="posts" class="container mt-5">
        {% if posts %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center mt-3">
                        <div style="margin-bottom: 50px;"><h4  class="mt-2 mb-0"><strong>Bejegyzések:</strong></h4></div>
                        {% for post in posts %}
                        <div class="wrapper">
                            <div class="card2 post">
                            <div class="user">
                                <div class="profile">
                                {% if post.profile.imageURL %}
                                    <img src="{{post.profile.imageURL}}" class="ava">
                                {% else %}
                                    <img src="{% static 'images/placeholder_img.jpg' %}" class="ava">
                                {% endif %} 
                                <div class="username">
                                    <h3 class="uname">{{post.profile.user}}</h3>
                                    <p class="name">{{post.title}}</p>
                                </div>
                                </div>
                                {% if profile == self_profile %}
                                <form method="POST" id="deletePostForm">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button class='bx bx-trash icon' type="submit" name="delete_post"></button>
                                </form>
                                {% else %}
                                <i class="fa-brands fa-twitter icon"></i>
                                {% endif %}            
                            </div>
                            <div class="twitt">
                                <p>{{post.body}}</p>
                            </div>
                            <div class="insight">
                                <div class="like">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="heart">
                                    <path id="Vector" d="M20.84 4.61C20.3292 4.099 19.7228 3.69364 19.0554 3.41708C18.3879 3.14052 17.6725 2.99817 16.95 2.99817C16.2275 2.99817 15.5121 3.14052 14.8446 3.41708C14.1772 3.69364 13.5708 4.099 13.06 4.61L12 5.67L10.94 4.61C9.9083 3.57831 8.50903 2.99871 7.05 2.99871C5.59096 2.99871 4.19169 3.57831 3.16 4.61C2.1283 5.64169 1.54871 7.04097 1.54871 8.5C1.54871 9.95903 2.1283 11.3583 3.16 12.39L4.22 13.45L12 21.23L19.78 13.45L20.84 12.39C21.351 11.8792 21.7563 11.2728 22.0329 10.6054C22.3095 9.93789 22.4518 9.22249 22.4518 8.5C22.4518 7.77751 22.3095 7.0621 22.0329 6.39464C21.7563 5.72718 21.351 5.12075 20.84 4.61V4.61Z" stroke="white" stroke-opacity="0.6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </svg>
                                <p class="like-value">{{post.likes.all.count}}</p>
                                </div>
                                <div class="created">
                                <p>{{post.created}}</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</body>

{% if profile == self_profile %}
<script>
    var updateProfileBtn = document.getElementById("updateProfileBtn");
    var closeUpdateProfileBtn = document.getElementById("closeUpdateProfileBtn");

    updateProfileBtn.addEventListener("click", function() {
        document.getElementById('profileData').classList.add('hidden')
        document.getElementById('updateProfileData').classList.remove('hidden')
        document.getElementById('updateProfileBtn').classList.add('hidden')
        document.getElementById('closeUpdateProfileBtn').classList.remove('hidden')
        document.getElementById('followers_following').classList.add('hidden')
        document.getElementById('posts').classList.add('hidden')
        document.getElementById('orders').classList.add('hidden')
    });

    closeUpdateProfileBtn.addEventListener("click", function() {
        document.getElementById('profileData').classList.remove('hidden')
        document.getElementById('updateProfileData').classList.add('hidden')
        document.getElementById('updateProfileBtn').classList.remove('hidden')
        document.getElementById('closeUpdateProfileBtn').classList.add('hidden')
        document.getElementById('followers_following').classList.remove('hidden')
        document.getElementById('posts').classList.remove('hidden')
        document.getElementById('orders').classList.remove('hidden')
    });
</script>
{% endif %}

{% if profile.follows.all.count > 3 %}
<script>
    var moreFollowingButton = document.getElementById("morefollowingBtn");
    var lessFollowingButton = document.getElementById("lessfollowingBtn");

    moreFollowingButton.addEventListener("click", function() {
        document.getElementById("morefollowing").classList.add('hidden')
        document.getElementById("lessfollowing").classList.remove('hidden')
        document.getElementById("following1").classList.add('hidden')
        document.getElementById("following2").classList.remove('hidden')
    });

    lessFollowingButton.addEventListener("click", function() {
        document.getElementById("morefollowing").classList.remove('hidden')
        document.getElementById("lessfollowing").classList.add('hidden')
        document.getElementById("following2").classList.add('hidden')
        document.getElementById("following1").classList.remove('hidden')
    });
</script>
{% endif %}

{% if profile.followers.all.count > 3 %}
<script>
    var moreFollowerButton = document.getElementById("morefollowerBtn");
    var lessFollowerButton = document.getElementById("lessfollowerBtn");

    moreFollowerButton.addEventListener("click", function() {
        document.getElementById("morefollower").classList.add('hidden')
        document.getElementById("lessfollower").classList.remove('hidden')
        document.getElementById("follower1").classList.add('hidden')
        document.getElementById("follower2").classList.remove('hidden')
    });

    lessFollowerButton.addEventListener("click", function() {
        document.getElementById("morefollower").classList.remove('hidden')
        document.getElementById("lessfollower").classList.add('hidden')
        document.getElementById("follower2").classList.add('hidden')
        document.getElementById("follower1").classList.remove('hidden')
    });
</script>
{% endif %}

{% if messages %}
<script>
    popup = document.getElementById('popup');

    popup.style.display = 'block';

    setTimeout(loginAnimation, 6000);

    function loginAnimation() {
        document.getElementById('popup').style.animation = "closePopupAnimation 0.5s ease-in-out";

        setTimeout(function() {
            document.getElementById('popup').style.animation = "";
            document.getElementById('popup').style.display = "none";
        }, 500);  
    }

    var popupClose = document.getElementById('popupClose')
    popupClose.addEventListener("click", function () {
        loginAnimation()
      });

</script>
{% endif %}


{% endblock content %}
