{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">


<div id="registerContent">
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Fiók létrehozása</h3>
            </div>
            <div class="d-flex justify-content-center form_container">

                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{form.username}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        {{form.first_name}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        {{form.last_name}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        {{form.email}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{form.password1}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{form.password2}}
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Regisztráció">
                    </div>
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Van már meglévő fiókod? <a href="{% url 'login' %}" class="ml-2">Bejelentkezés</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% if messages %}
<div style="display: block;" class="popup" id="popup">
    <img src="{% static 'images/x.png' %}" />
    <h2></h2>
    {% for message in messages %}
    <div class="message {{message.tags}}">{{ forloop.counter }}. {{message}}</div><br>
    {% endfor %}
    <button style="background: red;" id="popupClose">OK</button>
</div>
{% endif %}


{% if messages %}
<script>
    popup = document.getElementById('popup');
    content = document.getElementById('registerContent')

    content.style.opacity = '0.1'
    popup.style.display = 'block';

    setTimeout(registerContentAnimation, 8000);

    function registerContentAnimation() {
        document.getElementById('popup').style.animation = "closePopupAnimation 0.5s ease-in-out";
        document.getElementById('registerContent').style.animation = "opacityAnimation 0.5s ease.out";

        setTimeout(function() {
            document.getElementById('popup').style.animation = "";
            document.getElementById('registerContent').style.animation = "";
            document.getElementById('popup').style.display = "none";
            document.getElementById('registerContent').style.opacity = 1;
        }, 500);  
    }

    var popupClose = document.getElementById('popupClose')
    popupClose.addEventListener("click", function () {
        registerContentAnimation()
      });

</script>
{% endif %}



<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Felhasználónév';
    form_fields[2].placeholder='Vezetéknév';
    form_fields[3].placeholder='Keresztnév';
    form_fields[4].placeholder='Email cím';
    form_fields[5].placeholder='Jelszó';
    form_fields[6].placeholder='Jelszó újra';


    for (var field in form_fields){	
        form_fields[field].className += ' form-control'
    }
</script>
{% endblock content %}